:root {
  --mi-gradiant: linear-gradient(
    -225deg,
    #699be6 0%,
    #4bd8c0 29%,
    #df799c 67%,
    #dbd87d 100%
  );
  --mi-gradiant2: linear-gradient(
    -225deg,
    #7fe942 0%,
    #d81d5b 29%,
    #116154 67%,
    #0c2852 100%
  );
  --mi-gradiant3: linear-gradient(
    -225deg,
    #201402 0%,
    #299432 29%,
    #85186d 67%,
    #75061e 100%
  );
}
body,
html {
  margin: 0;
  box-sizing: border-box;
}
.page-error {
  background-image: url(../images/header-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  color: #fff;
  font-size: 2rem;
}
.space-top {
  margin-top: 2rem;
}
.main_container {
  background-image: url(../images/header-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  margin-left: 8rem;
}
.main-container__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  /*fondo oscuro semitransparente */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: #deaa86 1px solid;
}
.main-container__rooms {
  background-image: url(../images/header-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 1rem;
}
.main-container__reservas {
  background-image: url(../images/vip.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 1rem;
}
.main-container__content__title {
  width: 100%;
  text-align: center;
}
.animate-character {
  text-transform: uppercase; /* Transforma el texto a mayúsculas */
  background-image: linear-gradient(
    -225deg,
    #b3c8e7 0%,
    #8ed9cc 29%,
    #f4adc6 67%,
    #f9f595 100%
  ); /* Fondo con gradiente */
  background-size: auto auto; /* Tamaño del fondo */
  background-clip: border-box; /* Define cómo se muestra el fondo en relación con el contenido y el relleno del elemento */
  background-size: 30% auto; /* Tamaño del fondo (repetición) */
  color: #555; /* Color del texto */
  /* Hace que el fondo solo se muestre donde hay texto */
  -webkit-background-clip: text; /* Propiedad similar para navegadores webkit */
  -webkit-text-fill-color: transparent; /* Color del texto transparente (para navegadores webkit) */
  background-clip: text;
  animation: textclip 10s linear infinite; /* Animación llamada 'textclip' con duración de 3.2 segundos, lineal e infinita */
  display: inline-block; /* Muestra el elemento como un bloque en línea */
  font-size: 5rem; /* Tamaño de la fuente */
  font-family: Cursive; /* Tipo de fuente (Cursiva) */
}
.animate-character--mod {
  background-image: linear-gradient(
    -225deg,
    #043072 0%,
    #17a504 29%,
    #c00949 67%,
    #d6cf05 100%
  );
}
.text {
  font-size: 2rem;
  font-family: Cursive;
  color: #555;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #b3c8e7 0%,
    #8ed9cc 29%,
    #f4adc6 67%,
    #f9f595 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  border-radius: 5px;
  padding: 0.3rem;
}
@keyframes textclip {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/****BTN ENTRAR***BTN SALIR*/

.btn-entrar {
  border: 0;
  background-image: var(--mi-gradiant);
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 1.5rem;
  padding: 3px;
  cursor: pointer;
  transition: 0.3s;
  margin: 2rem auto;
}
.btn-salir {
  position: absolute;
  right: 0;
  align-self: flex-end;
  border: 0;
  background-image: var(--mi-gradiant2);
  border-radius: 8px;
  color: white;
  display: flex;
  font-size: 1.5rem;
  padding: 3px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: auto;
  margin: 0.5rem;
  text-decoration: none;
}
.btn-reservas {
  border: 0;
  background-image: var(--mi-gradiant3);
  border-radius: 8px;
  color: red;
  display: flex;
  font-size: 2rem;
  padding: 3px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: auto;
  margin: 0.5rem;
  text-decoration: none;
}
.btn-entrar span {
  background-color: #111;
  padding: 0.9rem 1.2rem;
  border-radius: 6px;
  transition: 0.3s;
}
.btn-salir span {
  background-color: #111;
  padding: 0.9rem 1.2rem;
  border-radius: 6px;
  transition: 0.3s;
  color: white;
}
.btn-reservas span {
  background-color: #111;
  padding: 0.9rem 1.2rem;
  border-radius: 6px;
  transition: 0.3s;
  color: white;
}
.btn-entrar:hover span {
  background: none;
  color: black;
  font-size: 1.7rem;
}
.btn-salir:hover span {
  background: none;
  color: black;
  font-size: 1.7rem;
}
.btn-reservas:hover span {
  background: none;
  color: black;
  font-size: 2.2rem;
}
.btn-entrar:active {
  transform: scale(0.9);
}
.btn-salir:active {
  transform: scale(0.9);
}
.btn-reservas:active {
  transform: scale(0.9);
}

/********FORM   ACCOUNT************/
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  /*fondo oscuro semitransparente */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: #deaa86 1px solid;
  margin: 2rem auto;
  padding: 2rem;
  height: 100%;
}
.input-group {
  width: 100%;
  margin: 1.5rem;
  padding: 0.5rem;
}
.form-container input {
  border: 0;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem auto;
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  transition: background 0.5s, border-bottom 0.5s, color 0.5s, font-weight 0.5s,
    font-size 0.5s;
}
.form {
  width: 50%;
}
.input:hover {
  background: transparent;
  border: none;
  color: white;
  transform: scale(1.2);
}
.form-container:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background 0.5s;
}
.form-container input:hover {
  background: transparent;
  border-bottom: white 2px solid;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: background 0.5s, border-bottom 0.5s, color 0.5s, font-weight 0.5s,
    font-size 0.5s;
}
.form-container input::placeholder {
  color: #d37f43;
  font-weight: bold;
}
.form-container input:hover::placeholder {
  color: white;
  border: none;
}
.form-container input:focus {
  outline: none;
}
form label {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
.text--min {
  margin-top: 0.4rem;
  font-size: 1rem;
  color: black;
}
.medium {
  font-size: 1.5rem;
  color: #000;
}
.block-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  align-content: center;
  gap: 0.8rem;
}
/********FORM   MOD************/
.form-container-mod {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  /*fondo oscuro semitransparente */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: #deaa86 1px solid;
  margin: 0;
  padding: 0;
  height: 80%;
}
.form-container-mod input {
  border: 0;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem auto;
  width: 100%;
  height: auto;
  font-size: 1.5rem;
  transition: background 0.5s, border-bottom 0.5s, color 0.5s, font-weight 0.5s,
    font-size 0.5s;
}
/*********HOTELS*********/
.card-img {
  max-width: 100%;
  height: 250px;
}
.form-cmod2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  /*fondo oscuro semitransparente */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: #deaa86 1px solid;
  margin: 0;
  padding: 0;
  height: 80%;
}
.cardm {
  margin-top: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.whitexl {
  color: white;
  font-size: 2.5rem;
}
.white {
  color: white;
  font-size: 1.5rem;
}
.bg-custom {
  background-color: rgba(
    222,
    170,
    134,
    0.6
  ); /* Cambia 0.5 según la opacidad que desees (de 0 a 1) */
  border-radius: 5px;
  border: 0;
  font-size: 1.5rem;
}
.btn-custom {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.pos {
  position: absolute;
  top: 6rem;
  right: 5rem;
}
.space {
  margin: 1rem;
}
