:root {
  --mi-gradiant: linear-gradient(
    -225deg,
    #b3c8e7 0%,
    #8ed9cc 29%,
    #f4adc6 67%,
    #f9f595 100%
  );
}
body html {
  margin: 0;
  box-sizing: border-box;
}
.main_container {
  background-image: url(../images/header-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0;
}
.main-container__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  /*fondo oscuro semitransparente */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: #deaa86 1px solid;
}
.main-container__content__title {
  width: 100%;
  text-align: center;
}
.animate-character {
  text-transform: uppercase; /* Transforma el texto a mayúsculas */
  background-image: linear-gradient(
    -225deg,
    #b3c8e7 0%,
    #8ed9cc 29%,
    #f4adc6 67%,
    #f9f595 100%
  ); /* Fondo con gradiente */
  background-size: auto auto; /* Tamaño del fondo */
  background-clip: border-box; /* Define cómo se muestra el fondo en relación con el contenido y el relleno del elemento */
  background-size: 30% auto; /* Tamaño del fondo (repetición) */
  color: #555; /* Color del texto */
  /* Hace que el fondo solo se muestre donde hay texto */
  -webkit-background-clip: text; /* Propiedad similar para navegadores webkit */
  -webkit-text-fill-color: transparent; /* Color del texto transparente (para navegadores webkit) */
  background-clip: text;
  animation: textclip 10s linear infinite; /* Animación llamada 'textclip' con duración de 3.2 segundos, lineal e infinita */
  display: inline-block; /* Muestra el elemento como un bloque en línea */
  font-size: 5rem; /* Tamaño de la fuente */
  font-family: Cursive; /* Tipo de fuente (Cursiva) */
}
.text {
  font-size: 2rem;
  font-family: Cursive;
  color: #555;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #b3c8e7 0%,
    #8ed9cc 29%,
    #f4adc6 67%,
    #f9f595 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  border-radius: 5px;
  padding: 0.3rem;
}
@keyframes textclip {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/****BTN ENTRAR****/

.btn-entrar {
  border: 0;
  background-image: var(--mi-gradiant);
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 1.5rem;
  padding: 3px;
  cursor: pointer;
  transition: 0.3s;
  margin: 2rem auto;
}
.btn-entrar span {
  background-color: #111;
  padding: 0.9rem 1.2rem;
  border-radius: 6px;
  transition: 0.3s;
}
.btn-entrar:hover span {
  background: none;
  color: black;
}
.btn-entrar:active {
  transform: scale(0.9);
}
/****FORM****/
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  /*fondo oscuro semitransparente */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: #deaa86 1px solid;
  margin: 2rem auto;
  padding: 2rem;
  height: 100%;
}
.input-group {
  width: 100%;
  margin: 1.5rem;
  padding: 0.5rem;
}
.form-container input {
  border: 0;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem auto;
  width: 100%;
  height: 4rem;
  font-size: 1.5rem;
  transition: background 0.5s, border-bottom 0.5s, color 0.5s, font-weight 0.5s,
    font-size 0.5s;
}
.form {
  width: 100%;
}
.input:hover {
  background: transparent;
  border: none;
  color: white;
}
.form-container:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background 0.5s;
}
.form-container input:hover {
  background: transparent;
  border-bottom: white 2px solid;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: background 0.5s, border-bottom 0.5s, color 0.5s, font-weight 0.5s,
    font-size 0.5s;
}
.form-container input::placeholder {
  color: #d37f43;
  font-weight: bold;
}
.form-container input:hover::placeholder {
  color: white;
  font-weight: bold;
  border: none;
}
.form-container input:focus {
  outline: none;
}
